@use "../../styles/colorVariables.scss";

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  border: 0.0625rem solid colorVariables.$secondaryColor;
  border-radius: 0.625rem;
  padding:  .625rem;
  width: 26rem;
  gap: 10px;
}
.matchInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.league {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .625rem;
    p {
        color: colorVariables.$accentColor;
        font-size: 0.7rem;
    }
}
.matchDate {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 100px;
  word-break: break-all;
  img {
    border-radius: 50%;
    border: 1px solid colorVariables.$secondaryColor;
  }
  p {
    color: colorVariables.$accentColor;
    font-size: 0.7rem;
  }
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.matchDate {
  display: flex;
  flex-direction: column;
  align-items: center;
  span {
    color: colorVariables.$secondaryColor;
    font-size: 1rem;
    font-weight: bold;
  }
  p {
    color: colorVariables.$accentColor;
    font-size: 0.7rem;
  }
}
