@use '../../../app/styles/variables/colorVariables.scss';
.spinner {
  border: 0.5rem solid colorVariables.$secondarybackgroundColor;
  border-radius: 50%;
  width: 3.125rem;
  height: 3.125rem;
  animation: spin 1s linear infinite;
}
.yellow {
  border-top: 0.5rem solid colorVariables.$secondaryColor;
}
.green {
  border-top: 0.5rem solid colorVariables.$primaryColor;
}
.lightgreen {
  border-top: 0.5rem solid colorVariables.$hoverColor;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
