@use "../../styles/colorVariables.scss";
.title {
  font-size: 1.5rem;
  color: colorVariables.$secondaryColor;
  margin-bottom: 0.625rem;
}
.yellow {
  color: colorVariables.$secondaryColor;
}
.green {
  color: colorVariables.$primaryColor;
}
.lightgreen {
  color: colorVariables.$hoverColor;
}
