.matchWrapper {
    margin-top: 1.875rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.25rem;
    width: 81.25rem;
}
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.875rem;
}