@use "../../styles/colorVariables.scss";
.header {
  width: 100%;
  background-color: colorVariables.$secondarybackgroundColor;
  border-bottom: .0625rem solid rgba(0, 0, 0, 0.2);
 
}
.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 0;
  gap: 3.125rem;
  color: colorVariables.$accentColor;
  max-width: 81.25rem;
  margin: 0 auto;
}

.navList {
  display: flex;
  gap: 1.875rem;
}
.link {
  color: #fff;
  transition: all 0.3s ease;
  text-transform: uppercase;
  &:hover {
    color: colorVariables.$hoverColor;
  }
}
.active {
  color: colorVariables.$hoverColor;
  text-transform: uppercase;
}

.logo {
  color: colorVariables.$primaryColor;
  transition: all 0.3s ease;
  &:hover {
    color: colorVariables.$hoverColor;
  }
}
